/*
 * Search UI: Styles for Query suggestion List "combobox", TO BE eventually replaced by GCWeb reference implementation codebase
 */
 .query-suggestions {
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	left: 0;
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 60;

	&:has(li) {
		border-bottom: 1px solid #ccc;
	}

	& .suggestion-item {
		padding: 5px 10px;

		&:hover, &.selected-suggestion {
			background-color: #ddd;
		}

		&::before {
			content: "\e003";
			font-family: "Glyphicons Halflings";
			font-size: 0.8em;
			line-height: 1;
			margin-right: 12px;
			position: relative;
			top: 1px;
		}
	}
}

/* Top-right query suggestions */
#wb-bnr .query-suggestions {
	left: auto;
	top: auto;
	width: calc(100% - 30px);
}

@media screen and (max-width: 767px) {
	#wb-bnr .query-suggestions {
		position: static;
		width: 100%;
	}
}
.smart-snippet-container {
	border: 1px solid #ddd; 
	border-radius: 4px;
	padding: 10px 20px 20px 20px;
}
.smart-snippet-container .smart-snippet-answer {
	padding: 30px 20px 20px 20px;
	position: relative;
	overflow: hidden;
}
.smart-snippet-container .smart-snippet-toggle-height {
	text-align: center;
}
.smart-snippet-container .smart-snippet-answer .smart-snippet-answer-truncated,
.smart-snippet-container.smart-snippet-height-limiter .smart-snippet-answer .smart-snippet-answer-full {
  display: none;
}
.smart-snippet-container .smart-snippet-answer .smart-snippet-answer-full,
.smart-snippet-container.smart-snippet-height-limiter .smart-snippet-answer .smart-snippet-answer-truncated {
  display: block;
}
.smart-snippet-ai-disclaimer {
	font-style: italic;
	font-size: .85em;
	border-top: 1px solid #eee; 
	padding-top: .85em;
}